@model WonderAddressBookMVC_.Models.Contact
@using WonderAddressBookMVC_.Services.Interfaces
@inject IImageService _imageService
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="glass-cf-style m-5 p-3">

    <h1 class=" mt-3 d-flex justify-content-sm-start justify-content-md-center">CONTACT DETAILS</h1>
    <hr />
    <div class="row mt-1 p-2">
        <h2 class=" mt-3 d-flex justify-content-sm-start justify-content-md-center">@Model.FullName</h2>
    </div>
    <div class="row mt-1 p-2">
        <!--col one img-->
        <div class="col-12 col-lg-4">
            @if (Model.ImageData != null)
            {
                <img class="contactList-image" src="@_imageService.ConvertByteArrayToFile(Model.ImageData, Model!.ImageType!)" alt="contact image" />
            }
            else
            {
                <img class="contactList-image" src="/img/GirlOne_4x.png" alt="User Avatar Default Image">
            }

        </div>

        <div class="col-12 col-lg-8">
            <!--creates row inside of the column-->
            <div class="row mb-1">
                <!--Column pairs--name "row"-->
                <div class="col-12 col-lg-6 form-group">
                    <label for="FirstName" class="form-label">First Name</label>
                    <input type="text" readonly class="form-control" id="FirstName" Value="@Model.FirstName" />
                </div>
                <div class="col-12 col-lg-6 form-group">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input type="text" readonly class="form-control" id="LastName" Value="@Model.LastName" />
                </div>
                <!--Column pairs (email & phone) creates "row"-->
                <div class="col-12 col-lg-6 form-group">
                    <label for="Email" class="form-label mt-1">Email</label>
                    <input type="email" readonly class="form-control" id="Email" Value="@Model.Email" />
                    <label for="Phone" class="form-label mt-1">Phone</label>
                    <input type="tel" readonly class="form-control" id="Phone" Value="@Model.PhoneNumber" />
                </div>

                <div class="col-12 col-lg-6 form-group">
                    <label for="Address1" class="form-label mt-1">Address</label>
                    <input type="text" readonly class="form-control" id="Address1" Value="@Model.Address1" />
                </div>
                <div class="col-12 col-lg-6 form-group">
                    <label for="inputAddress2" class="form-label  mt-1">Address 2</label>
                    <input type="text" readonly class="form-control" id="Address 2" value="@Model.Address2" />
                </div>
                <div class="col-12 col-lg-6 form-group">
                    <label for="inputCity" class="form-label mt-1">City</label>
                    <input type="text" readonly class="form-control" id="city" Value="@Model.City" />
                </div>
                <!--STATES drop down-->
                <div class="col-12 col-lg-6 form-group">
                    <label for="inputState" class="form-label mt-1">State</label>
                    <input type="text" readonly class="form-control" id="city" Value="@Model.State" />
                </div>

                <div class="col-12 col-lg-6 form-group">
                    <label for="City" class="form-label mt-1">Zip</label>
                    <input type="text" readonly class="form-control" id="zip" Value="@Model.ZipCode" />
                </div>
                <div class="col-12 col-lg-6 form-group">
                    <label for="Birthday" class="form-label mt-1">Birthday</label>
                    <input type="text" readonly class="form-control" id="Birthday" Value="@Model.BirthDate" />
                </div>
                <div class="col-12 form-group">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="form-check form-check-inline mt-1">
                            <input type="checkbox" checked="checked" readonly class="form-check-input" name="CategoryList" value="@category.Id" />
                            <label class="form-check-label" for="CategoryList">@category.Name</label>
                        </div>
                    }
                </div>

                <div class="m-1">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>

        </div>
    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
