@model WonderAddressBookMVC_.Models.Contact
@using WonderAddressBookMVC_.Services.Interfaces;
@using WonderAddressBookMVC_.Enums;

@inject IImageService _imageService;
@{
    ViewData["Title"] = "Edit";
}

<div class="glass-cf-style m-5 p-3">

    <h1 class=" mt-3  d-flex justify-content-sm-start justify-content-md-center">EDIT CONTACT</h1>
    <hr />

    <h3 class=" mt-3 d-flex justify-content-sm-start justify-content-md-center">@Model.FullName</h3>

    <form asp-action="Edit" asp-controller="Contacts" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="AppUserId" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="ImageData" />
        <input type="hidden" asp-for="ImageType" />

        <div class="row  row-cols-1 row-cols-lg-2 mt-1 p-2">
            <div class="col-lg-4">

                @if (Model.ImageData != null)
                {
                    <img id ="contactImage" class="square-image" src="@_imageService.ConvertByteArrayToFile(Model.ImageData, Model!.ImageType!)" alt="contact image" />
                }
                else
                {
                    <img class="square-image" src="/img/GirlOne_4x.png" alt="User Avatar Default Image">
                }
                <div class=" col form-group">
                    <label asp-for="ImageFile" class="control-label "></label>
                    <input asp-for="ImageFile" class="form-control w-75" accept=".png,.jpg,.jpeg,.gif"
                           onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    @if (Model?.ImageData != null)
                    {
                        <img id="contactImage" class="img-fluid img-thumbnail" style="width:100px;height:100px" src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageData))">
                    }
                    else
                    {
                        <img id="contactImage" class="img-fluid img-thumbnail" style="width:100px;height:100px" src="/img/GirlOne_4x.png">
                    }
                </div>

            </div>

            <div class="col-12 col-lg-8">
                <!--creates row inside of the column-->
                <div class="row mb-1">

                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="col-12 col-lg-6  form-group">
                        <label asp-for="Address1" class="form-label">Address</label>
                        <input asp-for="Address1" class="form-control" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="Address2" class="form-label">Address 2</label>
                        <input asp-for="Address2" class="form-control" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="State" class="control-label"></label>
                        <select asp-for="State" asp-items="ViewBag.StatesList" class="form-control">
                            <option value="0" selected>Choose One...</option>
                        </select>
                        <span asp-validation-for="State" class="text-light"></span>
                    </div>
                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="ZipCode" class="form-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="BirthDate" class="form-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-12  col-lg-6 form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-6 form-group">
                        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class=" col-12 col-lg-6  form-group">
                        <label asp-for="Categories" class="control-label">Delete or Add Categories</label>
                        <select name="CategoriesList" class="form-select" asp-items="@ViewBag.CategoryList" multiple></select>
                    </div>
                    <div class="col-12 d-flex justify-content-start form-group">
                        @foreach (var category in Model!.Categories)
                        {
                            <div class=" col col-lg-6 form-check form-check-inline">
                                <input type="checkbox" checked="checked" readonly class="form-check-input" name="CategoryList" value="@category.Id" />
                                <label class="form-check-label" for="CategoryList">@category.Name</label>
                            </div>
                        }
                    </div>



                    <div class="col-12 mt-2 p-2">
                        <input type="submit" asp-action="Edit" asp-controller="Contacts" class="w-100 btn btn-lg glass-button" />
                    </div>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
